<% layout("layouts/boilerplate") %>

    <br><br>
    <h3 class="my-4">Login</h3>

    <div class="row">
        <div class="col-8 offset-2">
            <form method="POST" action="/login">

                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input id="username" name="username" type="text" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input id="password" name="password" type="password" class="form-control" required>
                </div>

                <button type="submit" class="btn btn-dark edit-btn">Login</button>
                <br><br>
            </form>
        </div>
    </div>